<div class="section section-basic">
    <div class="container">
        <div class="title">
            <h1>welcome {{user.firstName}}</h1>
        </div>
        <div class="title">
            <h4>Your posted jobs</h4>
        </div>
    </div>
</div>