<div class="section section-basic">
    <div class="container">
        <div class="title">
            <h1>welcome to Jobzella</h1>
        </div>
        {{#if user}}
            Welcome {{user.firstName}}
        {{else}}
            <a class="btn btn-primary btn-round btn-lg" href="/auth/google">
                <li style="margin-right:10px;" class="fa fa-google-plus"></li> Login with your Google account
            </a>
            or <a href="/auth/login">Login</a> with your email
        {{/if}}
    </div>
</div>