<div class="section section-basic">
    <div class="container">
        <div class="title">
            <h1>welcome</h1>

            <p>welcome to jobzilla</p>
        </div>
        <a class="btn btn-primary btn-round btn-lg" href="/auth/google">Register with your Google account</a>
    </div>
</div>