<div class="section section-basic">
    <div class="container">
        <div class="title">
            <h1>welcome {{user.firstName}}</h1>
        </div>
        <div class="title">
            <h4>Add job</h4>
        </div>
        <form action="/jobs" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control"></textarea>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" name="acceptApplications" type="checkbox">
                    Do you want to accept applications? Check if yes
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Add job</button>
        </form>
    </div>
</div>