<div class="section section-basic">
    <div class="container">
        <div class="row">
        {{#each applications}}
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-text card-header-primary">
                            <div class="card-text">
                            <h4 class="card-title">{{name}}</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="/{{cv.path}}" class="card-link ml-0 mb-0"> <i class="fas fa-file-pdf"></i> Download CV</a>
                        </div>
                    </div>
                </div>
        {{else}}
            <h3>No one applied yet.</h3>
        {{/each}}
        </div>
    </div>
</div>