<div class="section section-basic">
    <div class="container">
        <div class="title">
            <h4>Apply for this job</h4>
        </div>
        <form action="/jobs/application/{{id}}" method="post" enctype="multipart/form-data">
            <input type="file" name="cv">
            <button type="submit" class="btn btn-primary">Add job</button>
        </form>
    </div>
</div>